.login {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.login__container {
  padding: 100px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.12);
}

.login__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login__text {
  color: rgb(56, 56, 56);
  margin-bottom: 50px;
}

.login__container > .MuiButtonBase-root {
  background-color: #25d366;
  color: #f8f8f8;
  padding: 5px 10px;
}

.login__container > .MuiButtonBase-root:hover {
  background-color: #2bc563;
}
